# This data set contains information of users from a companies database. It contains information about UserID,Gender,Age,
EstimatedSalary,Purchased. We are using this dataset for predicting that a user will purchase the company's newly launched
product or not ?

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
dataset = pd.read_csv('User_Data.csv')

In [6]:
dataset.shape

(400, 5)

In [7]:
dataset.head()

   User ID  Gender  Age  EstimatedSalary  Purchased
0   151882  Female   23            74331          0
1   155342  Female   40            25836          0
2   157534    Male   23            15845          1
3   150294  Female   22            25740          1
4   156362    Male   40            16376          1

In [8]:
#input 
x = dataset.iloc[:,[2,3]].values

In [9]:
#output
y = dataset.iloc[:,4].values

In [10]:
print(y)

[0 0 1 1 1 0 0 1 0 0 0 1 0 0 1 0 1 1 1 0 1 1 0 1 1 1 1 0 1 1 0 1 0 1 1 1 0
 1 0 1 1 1 0 0 0 0 0 1 0 0 1 0 1 0 0 0 1 1 0 1 0 0 0 1 0 0 0 0 0 0 1 0 0 1
 1 0 0 1 0 1 1 0 0 1 1 1 1 0 0 0 0 0 0 1 0 0 1 0 1 0 1 0 0 1 1 1 0 1 0 1 1
 0 0 1 0 1 0 0 1 0 0 0 1 0 1 0 0 0 0 1 0 1 1 1 0 0 0 0 1 1 1 0 1 1 0 0 0 0
 1 0 0 1 0 0 0 1 1 1 1 0 0 1 0 1 0 1 0 0 0 0 1 0 1 1 1 1 0 0 1 1 1 1 0 0 1
 1 0 0 1 1 1 0 1 0 1 0 0 0 1 1 1 0 1 1 0 0 0 0 0 1 1 1 0 1 1 1 0 1 0 1 1 0
 0 0 0 0 0 0 0 0 0 1 1 0 1 0 0 1 0 1 0 0 1 0 0 0 0 0 1 1 0 0 0 1 0 1 0 1 0
 0 0 0 1 1 0 0 0 0 0 1 0 0 1 0 1 0 1 0 0 1 0 1 1 1 0 0 0 0 1 0 1 0 1 1 1 0
 1 0 1 1 1 1 0 0 1 0 0 0 1 1 1 1 1 1 0 1 1 0 1 1 0 1 1 0 1 1 1 1 0 0 1 0 0
 0 0 1 1 1 0 0 0 0 0 1 0 0 1 0 0 1 0 1 1 1 1 1 1 0 1 0 0 1 0 0 0 1 0 1 1 1
 0 1 1 0 1 0 1 0 1 1 1 0 0 1 1 0 0 1 0 0 1 0 1 1 0 0 1 1 1 1]

In [38]:
from sklearn.model_selection import train_test_split
xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size=0.25)

In [39]:
from sklearn.preprocessing import StandardScaler
sc_x = StandardScaler()
x_train = sc_x.fit_transform(xtrain)
xtest = sc_x.transform(xtest)
print(xtrain[0:10, :])

[[   21 26352]
 [   34 36775]
 [   32 74989]
 [   36 23709]
 [   28 48844]
 [   30 70535]
 [   35 43586]
 [   33 33961]
 [   22 25740]
 [   30 33886]]

In [40]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(random_state=0)
classifier.fit(xtrain,ytrain)

LogisticRegression(random_state=0)

In [41]:
y_pred = classifier.predict(xtest)

In [42]:
from sklearn.metrics import accuracy_score
print("Accuracy: ", accuracy_score(ytest,y_pred))

Accuracy:  0.45